body {
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.expand {
    width: 300px;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.expand:active {
    transform: scale(1.5);
}
